@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Agrabad<br />
    Chittagong, Bangladesh.<br />
    <abbr>Phone:</abbr>
    +880-1779182800
</address>

<address>
    <strong>Support:</strong>   <a href="muhdtohidul@gmail.com">Email Me</a><br />
    <strong>Marketing:</strong> <a href="www.youtube.com/touhidulfahim1">Youtube</a>
</address>